canvas{
    height: 160;
    width: 160;
    box-shadow: 5px yellow;

}
#two{
    width: 200px;
    height: 50px;
    margin: 23px;
    box-shadow: 5px yellow;
}
.div_speed{
    float: left;
}
.div_volume{
    float: right;
}